@import '~antd/dist/antd.css';

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.subheader {
  background-color: #f0f2f5;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 8px;
  width: 100%;
}

.listContainer {
  border: 1px #e1e4e8 solid;
  margin-right: 16px;
  background-color: #f0f2f5;
  border-radius: 6px;
}

.listHeader {
  width: 300px;
  border-bottom: 1px #e1e4e8 solid;
  padding: 8px;
  font-weight: 200;
  font-size: 16px;
}

.listContent {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.ant-card-bordered {
  margin-bottom: 8px;
}

.content {
  padding: "8px";
  background-color: #fff;
}